.venv/
__pycache__/
.pytest_cache/
.ruff_cache/

.env
.envrc

.git/
.gitignore

data/
data/raw/
data/processed/
data/interim/
data/external/

mlruns/
mlartifacts/
model_artifacts/
artifacts/models/

*.pyc
*.parquet
*.pkl
*.joblib
*.pt
*.pth
*.onnx

reports/figures/
reports/tables/
